body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1920px;
}

.first-part {
    display: flex;
    margin: 50px 150px;
    background-color: black;
    color: white;
    height: 35vw;
    border-radius: 20px;
}

.intro {
    width: 50%;
}

#article {
    padding: 40px 50px 40px;
}

.intro img {
    width: 90%;
    height: 100%;
    object-fit: contain;

}

.intro h1 {
    font-size: 4vw;
}

.intro p {
    font-size: 1vw;
    width: 80%;
}

.link {
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 1vw;
    padding: 15px 25px;
    border-radius: 10px;
}

.second-part {
    display: flex;
    height: 45vw;
    margin-top: 100px;
    justify-content: center;
}

.side-part {
    background-color: black;
    border-radius: 15px;
    height: 16vw;
    width: 18%;
    margin-right: 20px;
    align-items: center;
}

aside a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1vw;
    margin: 32px 20px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    font-weight: 600;

}

#third-link {
    background-color: red;
    color: white;
}

.middle-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 5vw;

}

.news {
    width: 20vw;
    height: 19vw;
    background-color: rgba(252, 255, 255, 0.808);
    border-radius: 15px;
    border: 1px solid rgba(107, 107, 107, 0.466);
    margin: 10px;
}

.news img {
    width: 100%;
    height: 48%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.news button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 1vw;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 500;
}

.news h3 {
    margin-left: 15px;
    font-size: 1.2em;
}

span {
    margin-right: 15px;
    margin-left: 15px;
    font-size: .9vw;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    height: 15vw;
    padding-top: 240px;
}

h2 {
    font-size: 2vw;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 20px;
    color: silver;
}

hr {
    margin-left: 200px;
    margin-right: 200px;
}

.view {
    visibility: hidden;
}

@media (min-width: 200px) and (max-width: 576px) {
    .first-part {
        flex-direction: column;
        margin: 20px 30px;
        height: 130vw;
    }

    .intro {
        width: 100%;
        height: 50%;
    }

    .intro img {
        width: 80%;
        height: 100%;
    }

    #image {
        display: flex;
        justify-content: center;
    }

    #article {
        padding: 0px 0px;
        width: 100%;
        text-align: center;
    }

    .intro h1 {
        font-size: 6vw;
        width: auto;
        padding: 5px 30px;
    }

    .intro p {
        font-size: 3vw;
        width: auto;
        padding: 5px 60px;
    }

    .link {
        font-size: 2vw;
        padding: 10px 25px;
        border-radius: 5px;

    }

    .second-part {
        display: block;
        height: 470vw;
        margin-top: 0px;
        justify-content: center;
    }


    .side-part {
        display: block;
        background-color: white;
        border-radius: 0px;
        height: 28vw;
        width: auto;
        margin: 0 60px;
    }

    aside a {
        width: auto;
        text-decoration: none;
        color: black;
        font-size: 3vw;
        margin: 5px;
        padding: 5px 10px;
        border-radius: 5px;
        border: 1px solid gray;
        background-color: white;
        /* justify-content: center; */
        font-weight: 600;
    }

    #third-link {
        background-color: red;
        color: white;
    }

    .middle-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 10vw;
        justify-items: center;
    }

    .news {
        width: 80vw;
        height: 68vw;
        background-color: rgba(252, 255, 255, 0.808);
        border-radius: 15px;
        border: 1px solid rgba(107, 107, 107, 0.466);
        margin: 10px;
    }

    .news img {
        width: 100%;
        height: 48%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .news button {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 3vw;
        font-weight: 500;
        margin-left: 15px;
        margin-top: 10px;
        font-weight: 550;
    }

    .news h3 {
        margin-left: 15px;
        font-size: 3vw;
    }

    span {
        margin-right: 15px;
        margin-left: 15px;
        font-size: 2.8vw;
    }

    footer {
        color: white;
        background-color: black;
        text-align: center;
        height: 95vw;
        padding-top: 10px;
    }

    h2 {
        font-size: 8vw;
    }

    ul {
        display: block;
        justify-content: center;
        padding: 0px;
    }

    li {
        margin: 10px;
        color: silver;
    }

    hr {
        margin-left: 60px;
        margin-right: 60px;
    }

    .view {
        visibility: hidden;
    }
}

@media (min-width: 577px) and (max-width: 820px) {
    .first-part {
        display: flex;
        margin: 50px 50px;
        background-color: black;
        color: white;
        height: 45vw;
        border-radius: 20px;
    }

    .intro {
        width: 50%;
    }

    #article {
        padding: 20px 50px 40px;
    }

    .intro img {
        width: 90%;
        height: 100%;
        object-fit: contain;

    }

    .intro h1 {
        font-size: 4vw;
    }

    .intro p {
        font-size: 1.2vw;
        width: 80%;
    }

    .link {
        text-decoration: none;
        background-color: red;
        color: white;
        font-size: 1.1vw;
        padding: 10px 20px;
        border-radius: 7px;
    }

    .second-part {
        display: block;
        height: 150vw;
        margin-top: 0px;
        justify-content: center;
    }

    .side-part {
        background-color: white;
        border-radius: 5px;
        height: 5vw;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 50px;

    }

    aside a {
        display: inline;
        text-decoration: none;
        color: black;
        font-size: 2vw;
        margin: 10px;
        padding: 10px 20px;
        border-radius: 10px;
        background-color: white;
        font-weight: 600;
        border: 1px solid gray;
    }

    #third-link {
        background-color: red;
        color: white;
        padding-left: 60px;
        padding-right: 60px;
    }

    .middle-part {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 130vw;
        width: auto;
        margin: 0 40px;
    }

    .news {
        width: 42vw;
        height: 44vw;
        background-color: rgba(252, 255, 255, 0.808);
        border-radius: 15px;
        border: 1px solid rgba(107, 107, 107, 0.466);
        margin: 5px;
    }

    .news img {
        width: 100%;
        height: 48%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .news button {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 2vw;
        font-weight: 500;
        margin-left: 15px;
        margin-top: 10px;
        font-weight: 500;
    }

    .news h3 {
        margin-left: 15px;
        font-size: 2vw;
    }

    span {
        margin-right: 15px;
        margin-left: 15px;
        font-size: 1.7vw;
    }

    footer {
        color: white;
        background-color: black;
        text-align: center;
        height: 25vw;
        padding-top: 200px;
    }

    h2 {
        font-size: 3vw;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0px;
    }

    li {
        margin: 20px;
        color: silver;
    }

    hr {
        margin-left: 100px;
        margin-right: 100px;
    }

    .view {
        display: flex;
        justify-content: center;
        margin: 40px 10px;
    }

    .view button {
        text-decoration: none;
        background-color: red;
        border: none;
        padding: 15px 25px;
        font-size: 2vw;
        color: white;
        border-radius: 5px;
    }
}