body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    max-width: 1915px;
}

.first-part {
    display: flex;
    margin: 50px 150px;
    background-color: black;
    color: white;
    height: 80vh;
    border-radius: 20px;
}

.intro {
    width: 50%;
}

#article {
    padding: 40px 50px 40px;
}

.intro img {
    width: 90%;
    height: 100%;
    object-fit: contain;

}

.intro h1 {
    font-size: 4vw;
}

.intro p {
    font-size: 1vw;
    width: 80%;
}

.link {
    text-decoration: none;
    background-color: red;
    color: white;
    font-size: 1vw;
    padding: 15px 25px;
    border-radius: 10px;
}

.second-part {
    display: flex;
    height: 100vh;
    margin-top: 100px;
    justify-content: center;
}

.side-part {
    background-color: black;
    border-radius: 15px;
    height: 38vh;
    width: 18%;
    margin-right: 20px;
    align-items: center;
}

aside a {
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 1vw;
    margin: 32px 20px;
    padding: 15px 20px;
    border-radius: 10px;
    background-color: white;
    justify-content: center;
    font-weight: 600;

}

#third-link {
    background-color: red;
    color: white;
}

.middle-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 95vh;

}

.news {
    width: 380px;
    height: 360px;
    background-color: rgba(252, 255, 255, 0.808);
    border-radius: 15px;
    border: 1px solid rgba(107, 107, 107, 0.466);
    margin: 10px;
}

.news img {
    width: 100%;
    height: 48%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.news button {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 1em;
    font-weight: 500;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: 550;
}

.news h3 {
    margin-left: 15px;
    font-size: 1.2em;
}

span {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 1;
}

footer {
    color: white;
    background-color: black;
    text-align: center;
    height: 40vh;
    padding-top: 240px;
}

h2 {
    font-size: 40px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    margin: 20px;
    color: silver;
}

hr {
    margin-left: 200px;
    margin-right: 200px;
}

@media (min-width: 200px) and (max-width: 576px) {
    .first-part {
        flex-direction: column;
        margin: 20px 30px;
        height: 130vw;
    }

    .intro {
        width: 100%;
        height: 50%;
    }

    .intro img {
        width: 80%;
        height: 100%;
    }

    #image {
        display: flex;
        justify-content: center;
    }

    #article {
        padding: 0px 0px;
        width: 100%;
        text-align: center;
    }

    .intro h1 {
        font-size: 6vw;
        width: auto;
        padding: 5px 30px;
    }

    .intro p {
        font-size: 3vw;
        width: auto;
        padding: 5px 60px;
    }

    .link {
        font-size: 2vw;
        padding: 10px 25px;
        border-radius: 5px;

    }

    .second-part {
        display: block;
        height: 440vw;
        margin-top: 0px;
        justify-content: center;
    }


    .side-part {
        background-color: white;
        border-radius: 0px;
        height: 7vw;
        width: 100%;
        margin-right: 0px;
        margin-top: 60px;
        margin-bottom: 40px;
        text-align: center;

    }

    aside a {
        display: inline;
        text-decoration: none;
        color: black;
        font-size: 3vw;
        margin: 5px;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid black;
        background-color: white;
        /* justify-content: center; */
        font-weight: 600;

    }

    #third-link {
        background-color: red;
        color: white;
    }

    .middle-part {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: 10vw;
        justify-items: center;
    }

    .news {
        width: 80vw;
        height: 65vw;
        background-color: rgba(252, 255, 255, 0.808);
        border-radius: 15px;
        border: 1px solid rgba(107, 107, 107, 0.466);
        margin: 10px;
    }

    .news img {
        width: 100%;
        height: 48%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .news button {
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 3vw;
        font-weight: 500;
        margin-left: 15px;
        margin-top: 10px;
        font-weight: 550;
    }

    .news h3 {
        margin-left: 15px;
        font-size: 3vw;
    }

    span {
        margin-right: 15px;
        margin-left: 15px;
        font-size: 2.8vw;
    }

    footer {
        color: white;
        background-color: black;
        text-align: center;
        height: 80vw;
        padding-top: 10px;
    }

    h2 {
        font-size: 8vw;
    }

    ul {
        display: block;
        justify-content: center;
        padding: 0px;
    }

    li {
        margin: 0px;
        color: silver;
    }

    hr {
        margin-left: 60px;
        margin-right: 60px;
    }

    .view {
        visibility: hidden;
    }
}